<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Model.Blog.Title</title>
    <meta name="description" content="@Model.Blog.Description" />
    <meta name="viewport" content="width=device-width" />
    <link href="/style.css" rel="stylesheet" />
    <link href="/print.css" rel="stylesheet" media="print" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
    <div id="container">
        <div id="header">
            <a href="@Model.Url.RequestPathBase">
                <img src="@(Model.Url.RequestPathBase)/logo.png" alt="@Model.Blog.Description" />
                <div class="tagline">@Model.Blog.Description</div>
            </a>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="sidebar">
        </div>
        <div id="footer">
            &copy; 2012
        </div>
    </div>
    <script>
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script>
        try {
            var pageTracker = _gat._getTracker("UA-8958145-1");
            pageTracker._trackPageview();
        } catch (err) { }
    </script>
</body>
