@{
    Bundles.Reference("assets/stylesheets/style.less");
    Bundles.Reference("assets/javascripts/header.js");
    Bundles.Reference("assets/javascripts/_vendors/jquery.js");
    Bundles.Reference("assets/javascripts/main.js");
    
    var blog = ViewBag.Blog.Value;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@blog.Title</title>
        <meta name="viewport" content="width=device-width">
        @Bundles.RenderStylesheets()
        @Bundles.RenderScripts("header")
        @RenderSection("header", required: false)
    </head>
    <body>
        <header>
            <h1><a href="@Url.Content("~/")">@blog.Title</a></h1>
            <span>@blog.TagLine</span>
            @Html.Partial("_sidemenu")
            <span class="powered-by">
                Powered by <a href="http://github.com/prabirshrestha/SimpleBlog.git">Simple Blog</a> and <a href="http://nancyfx.org">Nancy</a>
            </span>
        </header>
        <div id="container">
            <div id="content">@RenderBody()
            </div>
        </div>
        @Html.Partial("_disqusScript")
        @Html.Partial("_googleAnalyticsScript")
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="@Bundles.Url("assets/javascripts/_vendors/jquery.js")"><\/script>')</script>
        @Bundles.RenderScripts("app")
    </body>
</html>